@use "media-queries";
@use "globals";

form {
    font-family: globals.$roboto;
    display: flex;
    flex-direction: column;

    label {
        color: globals.$dark-slate-grey;
        font-weight: 700;
        font-size: 0.8rem;
    }

    input {
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        margin: 0.7rem 0;
        padding: 0;
    }

    #email {
        color: globals.$dark-slate-grey;
        border: 1px solid globals.$grey;
        padding-left: 1.5rem;
        width: calc(100% - 1.6rem);

        &:focus-visible {
            border: 1px solid globals.$dark-slate-grey;
        }
    }

    #btn-form {
        color: globals.$white;
        font-weight: 700;
        background-color: globals.$dark-slate-grey;
        border: 1px solid globals.$dark-slate-grey;

        &:active {
            background-image: linear-gradient(to right, globals.$dark-tomato , globals.$tomato);
            border: none;
        }
    }
}