@use "media-queries";

$roboto: 'Roboto', sans-serif;

$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

html {
    background-color: $white;
    font-size: 16px;

    @include media-queries.desktop-s {
        font-size: 20px;
    }
}

main {
    display: flex;
    flex-direction: column;
    
    @include media-queries.desktop {
        height: 90vh;
        flex-direction: row-reverse;
        justify-content: center;
    }
}

.sec-img {
    margin: 0;

    @include media-queries.desktop {
        margin: 2rem;
    }
}

.sec-texts {
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-queries.desktop-s {
        margin: 2.5rem;
    }

    @include media-queries.desktop {
        width: 50%;
        margin: 2rem;
    }
}

footer {
    height: 6rem;
    display: flex;
    align-items: flex-end;

    @include media-queries.desktop {
        height: 3rem;
    }
}