@use "media-queries";
@use "globals";


.img-movil {
    width: 100%;
    display: flex;

    @include media-queries.desktop {
        display: none;
    }
}

.img-desktop {
    display: none;

    @include media-queries.desktop {
        height: 100%;
        display: flex;
    }
}