@use "media-queries";
@use "globals";

.text__title {
    @include globals.txts();
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;

    @include media-queries.desktop {
        font-size: 3.7rem;
        margin: 0.7rem 0 2rem;
    }
}

.text__subtitle {
    @include globals.txts();
}

.text__list {
    color: globals.$dark-slate-grey;
    margin: 1.8rem 0 2.6rem;

        .text__item {
        @include globals.txts();

        margin: 1rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .item__icon {
            width: 1.2rem;
            margin-right: 0.7rem;
        }
    }
}